.footer {
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 10px;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        &--date {
            align-self: end;
        }
    }

    &__link {
        img {
            transition: opacity $default-transition-settings;
        }

        &:hover img {
            opacity: 0.5;
        }
    }

    &__date {
        font-weight: 600;
        color: $color-blue;
    }

}